.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  background-color: gainsboro;
  margin: 0;
}

.header {
  display: grid;
  align-self: center;
}

.create {
  padding: 10px;
}

p * {
  display: block;
}

input,
textarea {
  appearance: none;
  width: 100%;
  height: 2rem;
  border: none;
  margin: 5px;
  padding: 5px;

  font-family: inherit;
  font-size: 90%;

  box-sizing: border-box;
}

.btn {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0.5rem;
  margin: 5px;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  color: #FFF;
  background-color: rgb(56, 56, 56);
}

button[type="submit"]:hover, button[type="submit"]:focus {
  background-color: black;
}

.returnDisplay {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto;
  justify-content: start;
  
  margin-top: -10px;
  font-weight: bold;
}


ol {
  padding-left: 1.8em;
}


